@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-LeDnhg0MGmAP_font-family: "Inter", sans-serif;
  --mixin-LeDnhg0MGmAP_font-size: 16px;
  --mixin-LeDnhg0MGmAP_font-weight: 400;
  --mixin-LeDnhg0MGmAP_font-style: normal;
  --mixin-LeDnhg0MGmAP_color: #535353;
  --mixin-LeDnhg0MGmAP_text-align: left;
  --mixin-LeDnhg0MGmAP_text-transform: none;
  --mixin-LeDnhg0MGmAP_line-height: 1.5;
  --mixin-LeDnhg0MGmAP_letter-spacing: normal;
  --mixin-LeDnhg0MGmAP_white-space: pre-wrap;
  --mixin-LeDnhg0MGmAP_user-select: text;
  --mixin-LeDnhg0MGmAP_text-decoration-line: none;
  --mixin-LeDnhg0MGmAP_text-overflow: clip;
  --mixin-Ce05GQG5Y82T_color: #000000;
  --mixin-Ce05GQG5Y82T_font-weight: 700;
  --mixin-Ce05GQG5Y82T_font-size: 64px;
  --mixin-Ce05GQG5Y82T_line-height: 1;
  --mixin-Ce05GQG5Y82T_letter-spacing: -1px;
  --mixin-Ce05GQG5Y82T_white-space: pre-wrap;
  --mixin-U8XoPuS3P3Q5_color: #000000;
  --mixin-U8XoPuS3P3Q5_font-size: 48px;
  --mixin-U8XoPuS3P3Q5_font-weight: 700;
  --mixin-U8XoPuS3P3Q5_letter-spacing: -0.5px;
  --mixin-U8XoPuS3P3Q5_line-height: 1.1;
  --mixin-U8XoPuS3P3Q5_white-space: pre-wrap;
  --mixin-9eXADWwIxDq6_color: #0070f3;
  --mixin-9eXADWwIxDq6_white-space: pre-wrap;
  --mixin-t20F4n6M-WS-_color: #000000;
  --mixin-t20F4n6M-WS-_font-size: 32px;
  --mixin-t20F4n6M-WS-_font-weight: 600;
  --mixin-t20F4n6M-WS-_line-height: 1.2;
  --mixin-t20F4n6M-WS-_white-space: pre-wrap;
  --mixin-zZodob0M7nkF_color: #000000;
  --mixin-zZodob0M7nkF_font-size: 24px;
  --mixin-zZodob0M7nkF_font-weight: 600;
  --mixin-zZodob0M7nkF_line-height: 1.3;
  --mixin-zZodob0M7nkF_white-space: pre-wrap;
  --mixin-9XugL9F3Ks3P_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9XugL9F3Ks3P_border-bottom-color: #dddddd;
  --mixin-9XugL9F3Ks3P_border-bottom-style: solid;
  --mixin-9XugL9F3Ks3P_border-bottom-width: 1px;
  --mixin-9XugL9F3Ks3P_border-left-color: #dddddd;
  --mixin-9XugL9F3Ks3P_border-left-style: solid;
  --mixin-9XugL9F3Ks3P_border-left-width: 1px;
  --mixin-9XugL9F3Ks3P_border-right-color: #dddddd;
  --mixin-9XugL9F3Ks3P_border-right-style: solid;
  --mixin-9XugL9F3Ks3P_border-right-width: 1px;
  --mixin-9XugL9F3Ks3P_border-top-color: #dddddd;
  --mixin-9XugL9F3Ks3P_border-top-style: solid;
  --mixin-9XugL9F3Ks3P_border-top-width: 1px;
  --mixin-9XugL9F3Ks3P_border-bottom-left-radius: 3px;
  --mixin-9XugL9F3Ks3P_border-bottom-right-radius: 3px;
  --mixin-9XugL9F3Ks3P_border-top-left-radius: 3px;
  --mixin-9XugL9F3Ks3P_border-top-right-radius: 3px;
  --mixin-9XugL9F3Ks3P_font-family: "Inconsolata";
  --mixin-9XugL9F3Ks3P_padding-bottom: 1px;
  --mixin-9XugL9F3Ks3P_padding-left: 4px;
  --mixin-9XugL9F3Ks3P_padding-right: 4px;
  --mixin-9XugL9F3Ks3P_padding-top: 1px;
  --mixin-9XugL9F3Ks3P_white-space: pre-wrap;
  --mixin-JoVuwSU50fHz_border-left-color: #dddddd;
  --mixin-JoVuwSU50fHz_border-left-style: solid;
  --mixin-JoVuwSU50fHz_border-left-width: 3px;
  --mixin-JoVuwSU50fHz_color: #888888;
  --mixin-JoVuwSU50fHz_padding-left: 10px;
  --mixin-JoVuwSU50fHz_white-space: pre-wrap;
  --mixin-m_nH8q_9FCJh_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-m_nH8q_9FCJh_border-bottom-color: #dddddd;
  --mixin-m_nH8q_9FCJh_border-bottom-style: solid;
  --mixin-m_nH8q_9FCJh_border-bottom-width: 1px;
  --mixin-m_nH8q_9FCJh_border-left-color: #dddddd;
  --mixin-m_nH8q_9FCJh_border-left-style: solid;
  --mixin-m_nH8q_9FCJh_border-left-width: 1px;
  --mixin-m_nH8q_9FCJh_border-right-color: #dddddd;
  --mixin-m_nH8q_9FCJh_border-right-style: solid;
  --mixin-m_nH8q_9FCJh_border-right-width: 1px;
  --mixin-m_nH8q_9FCJh_border-top-color: #dddddd;
  --mixin-m_nH8q_9FCJh_border-top-style: solid;
  --mixin-m_nH8q_9FCJh_border-top-width: 1px;
  --mixin-m_nH8q_9FCJh_border-bottom-left-radius: 3px;
  --mixin-m_nH8q_9FCJh_border-bottom-right-radius: 3px;
  --mixin-m_nH8q_9FCJh_border-top-left-radius: 3px;
  --mixin-m_nH8q_9FCJh_border-top-right-radius: 3px;
  --mixin-m_nH8q_9FCJh_font-family: "Inconsolata";
  --mixin-m_nH8q_9FCJh_padding-bottom: 3px;
  --mixin-m_nH8q_9FCJh_padding-left: 6px;
  --mixin-m_nH8q_9FCJh_padding-right: 6px;
  --mixin-m_nH8q_9FCJh_padding-top: 3px;
  --mixin-m_nH8q_9FCJh_white-space: pre-wrap;
  --mixin-EYDHSkNtCAk4_display: flex;
  --mixin-EYDHSkNtCAk4_flex-direction: column;
  --mixin-EYDHSkNtCAk4_align-items: stretch;
  --mixin-EYDHSkNtCAk4_justify-content: flex-start;
  --mixin-EYDHSkNtCAk4_list-style-position: outside;
  --mixin-EYDHSkNtCAk4_padding-left: 40px;
  --mixin-EYDHSkNtCAk4_position: relative;
  --mixin-EYDHSkNtCAk4_list-style-type: disc;
  --mixin-EYDHSkNtCAk4_white-space: pre-wrap;
  --mixin-vvYsbLUQTn3O_display: flex;
  --mixin-vvYsbLUQTn3O_flex-direction: column;
  --mixin-vvYsbLUQTn3O_align-items: stretch;
  --mixin-vvYsbLUQTn3O_justify-content: flex-start;
  --mixin-vvYsbLUQTn3O_list-style-position: outside;
  --mixin-vvYsbLUQTn3O_padding-left: 40px;
  --mixin-vvYsbLUQTn3O_position: relative;
  --mixin-vvYsbLUQTn3O_list-style-type: decimal;
  --mixin-vvYsbLUQTn3O_white-space: pre-wrap;
  --mixin-Tz5Vk1q7NIoY_color: #000000;
  --mixin-Tz5Vk1q7NIoY_font-size: 20px;
  --mixin-Tz5Vk1q7NIoY_font-weight: 600;
  --mixin-Tz5Vk1q7NIoY_line-height: 1.5;
  --mixin-Tz5Vk1q7NIoY_white-space: pre-wrap;
  --mixin-_inVqYeecK8b_color: #000000;
  --mixin-_inVqYeecK8b_font-size: 16px;
  --mixin-_inVqYeecK8b_font-weight: 600;
  --mixin-_inVqYeecK8b_line-height: 1.5;
  --mixin-_inVqYeecK8b_white-space: pre-wrap;
  --mixin-uQCG1DLLzuPV_color: #3291ff;
  --mixin-uQCG1DLLzuPV_white-space: pre-wrap;
  --mixin-r1uWU8F2KexW_white-space: pre-wrap;
  --mixin-tV23ZMyFEQNg_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-LeDnhg0MGmAP_font-family);
  font-size: var(--mixin-LeDnhg0MGmAP_font-size);
  font-weight: var(--mixin-LeDnhg0MGmAP_font-weight);
  font-style: var(--mixin-LeDnhg0MGmAP_font-style);
  color: var(--mixin-LeDnhg0MGmAP_color);
  text-align: var(--mixin-LeDnhg0MGmAP_text-align);
  text-transform: var(--mixin-LeDnhg0MGmAP_text-transform);
  line-height: var(--mixin-LeDnhg0MGmAP_line-height);
  letter-spacing: var(--mixin-LeDnhg0MGmAP_letter-spacing);
  white-space: var(--mixin-LeDnhg0MGmAP_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-Ce05GQG5Y82T_color);
  font-weight: var(--mixin-Ce05GQG5Y82T_font-weight);
  font-size: var(--mixin-Ce05GQG5Y82T_font-size);
  line-height: var(--mixin-Ce05GQG5Y82T_line-height);
  letter-spacing: var(--mixin-Ce05GQG5Y82T_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-U8XoPuS3P3Q5_color);
  font-size: var(--mixin-U8XoPuS3P3Q5_font-size);
  font-weight: var(--mixin-U8XoPuS3P3Q5_font-weight);
  letter-spacing: var(--mixin-U8XoPuS3P3Q5_letter-spacing);
  line-height: var(--mixin-U8XoPuS3P3Q5_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-9eXADWwIxDq6_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-t20F4n6M-WS-_color);
  font-size: var(--mixin-t20F4n6M-WS-_font-size);
  font-weight: var(--mixin-t20F4n6M-WS-_font-weight);
  line-height: var(--mixin-t20F4n6M-WS-_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-zZodob0M7nkF_color);
  font-size: var(--mixin-zZodob0M7nkF_font-size);
  font-weight: var(--mixin-zZodob0M7nkF_font-weight);
  line-height: var(--mixin-zZodob0M7nkF_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-9XugL9F3Ks3P_font-family);
  border-radius: var(--mixin-9XugL9F3Ks3P_border-top-left-radius)
    var(--mixin-9XugL9F3Ks3P_border-top-right-radius)
    var(--mixin-9XugL9F3Ks3P_border-bottom-right-radius)
    var(--mixin-9XugL9F3Ks3P_border-bottom-left-radius);
  padding: var(--mixin-9XugL9F3Ks3P_padding-top)
    var(--mixin-9XugL9F3Ks3P_padding-right)
    var(--mixin-9XugL9F3Ks3P_padding-bottom)
    var(--mixin-9XugL9F3Ks3P_padding-left);
  border-top: var(--mixin-9XugL9F3Ks3P_border-top-width)
    var(--mixin-9XugL9F3Ks3P_border-top-style)
    var(--mixin-9XugL9F3Ks3P_border-top-color);
  border-right: var(--mixin-9XugL9F3Ks3P_border-right-width)
    var(--mixin-9XugL9F3Ks3P_border-right-style)
    var(--mixin-9XugL9F3Ks3P_border-right-color);
  border-bottom: var(--mixin-9XugL9F3Ks3P_border-bottom-width)
    var(--mixin-9XugL9F3Ks3P_border-bottom-style)
    var(--mixin-9XugL9F3Ks3P_border-bottom-color);
  border-left: var(--mixin-9XugL9F3Ks3P_border-left-width)
    var(--mixin-9XugL9F3Ks3P_border-left-style)
    var(--mixin-9XugL9F3Ks3P_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-JoVuwSU50fHz_color);
  padding-left: var(--mixin-JoVuwSU50fHz_padding-left);
  border-left: var(--mixin-JoVuwSU50fHz_border-left-width)
    var(--mixin-JoVuwSU50fHz_border-left-style)
    var(--mixin-JoVuwSU50fHz_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-m_nH8q_9FCJh_font-family);
  border-radius: var(--mixin-m_nH8q_9FCJh_border-top-left-radius)
    var(--mixin-m_nH8q_9FCJh_border-top-right-radius)
    var(--mixin-m_nH8q_9FCJh_border-bottom-right-radius)
    var(--mixin-m_nH8q_9FCJh_border-bottom-left-radius);
  padding: var(--mixin-m_nH8q_9FCJh_padding-top)
    var(--mixin-m_nH8q_9FCJh_padding-right)
    var(--mixin-m_nH8q_9FCJh_padding-bottom)
    var(--mixin-m_nH8q_9FCJh_padding-left);
  border-top: var(--mixin-m_nH8q_9FCJh_border-top-width)
    var(--mixin-m_nH8q_9FCJh_border-top-style)
    var(--mixin-m_nH8q_9FCJh_border-top-color);
  border-right: var(--mixin-m_nH8q_9FCJh_border-right-width)
    var(--mixin-m_nH8q_9FCJh_border-right-style)
    var(--mixin-m_nH8q_9FCJh_border-right-color);
  border-bottom: var(--mixin-m_nH8q_9FCJh_border-bottom-width)
    var(--mixin-m_nH8q_9FCJh_border-bottom-style)
    var(--mixin-m_nH8q_9FCJh_border-bottom-color);
  border-left: var(--mixin-m_nH8q_9FCJh_border-left-width)
    var(--mixin-m_nH8q_9FCJh_border-left-style)
    var(--mixin-m_nH8q_9FCJh_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-EYDHSkNtCAk4_display);
  flex-direction: var(--mixin-EYDHSkNtCAk4_flex-direction);
  align-items: var(--mixin-EYDHSkNtCAk4_align-items);
  justify-content: var(--mixin-EYDHSkNtCAk4_justify-content);
  list-style-position: var(--mixin-EYDHSkNtCAk4_list-style-position);
  padding-left: var(--mixin-EYDHSkNtCAk4_padding-left);
  position: var(--mixin-EYDHSkNtCAk4_position);
  list-style-type: var(--mixin-EYDHSkNtCAk4_list-style-type);
  flex-column-gap: var(--mixin-EYDHSkNtCAk4_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-vvYsbLUQTn3O_display);
  flex-direction: var(--mixin-vvYsbLUQTn3O_flex-direction);
  align-items: var(--mixin-vvYsbLUQTn3O_align-items);
  justify-content: var(--mixin-vvYsbLUQTn3O_justify-content);
  list-style-position: var(--mixin-vvYsbLUQTn3O_list-style-position);
  padding-left: var(--mixin-vvYsbLUQTn3O_padding-left);
  position: var(--mixin-vvYsbLUQTn3O_position);
  list-style-type: var(--mixin-vvYsbLUQTn3O_list-style-type);
  flex-column-gap: var(--mixin-vvYsbLUQTn3O_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-Tz5Vk1q7NIoY_color);
  font-size: var(--mixin-Tz5Vk1q7NIoY_font-size);
  font-weight: var(--mixin-Tz5Vk1q7NIoY_font-weight);
  line-height: var(--mixin-Tz5Vk1q7NIoY_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-_inVqYeecK8b_color);
  font-size: var(--mixin-_inVqYeecK8b_font-size);
  font-weight: var(--mixin-_inVqYeecK8b_font-weight);
  line-height: var(--mixin-_inVqYeecK8b_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-uQCG1DLLzuPV_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
